<div>
  <nav class="main-menu">
    <div class="settings"></div>
    <div class="scrollbar" id="style-1">
      <ul>
        <li>
          <a routerLink="/home">
            <i class="fa fa-home fa-lg"></i>
            <span class="nav-text">Tableau de bord</span>
          </a>
        </li>

        <li>
          <a routerLink="/properties">
            <i class="fa fa-building fa-lg"></i>
            <span class="nav-text">Mes propriétés</span>
          </a>
        </li>

        <li>
          <a routerLink="/applying">
            <i class="fa fa-envelope-open-o fa-lg"></i>
            <span class="nav-text">Demandes</span>
          </a>
        </li>

        <li>
          <a routerLink="/tenant-property">
            <i class="fa fa-users fa-lg"></i>
            <span class="nav-text">Locataires</span>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>

