<footer class="footer-10 pt-4" style="padding-left: 100px;">
  <!-- <div class="container">
    <div class="row mb-4 p-4 teint no-gutters">
      <div class="col-md-4 mb-md-0 mb-4 d-flex">
        <div class="con con-1 w-100 py-5">
          <div class="con-info w-100 text-center">
            <div class="icon d-flex align-items-center justify-content-center">
              <span class="fa fa-phone"></span>
            </div>
            <div class="text">
              <span>(+225) 070 886 2333</span> <br>
              <span>(+225) 077 858 7103</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-md-0 mb-4 d-flex">
        <div class="con con-2 w-100 py-5">
          <div class="con-info w-100 text-center">
            <div class="icon d-flex align-items-center justify-content-center">
              <span class="fa fa-envelope"></span>
            </div>
            <div class="text">
              <span>{{ email }}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-md-0 mb-4 d-flex">
        <div class="con con-3 w-100 py-5">
          <div class="con-info w-100 text-center">
            <div class="icon d-flex align-items-center justify-content-center">
              <span class="fa fa-map-marker-alt"></span>
            </div>
            <div class="text">
              <span>203 St Jean. Angré, Cocody, Abidjan, Côte d'Ivoire</span>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-4 mb-md-0 mb-4">
            <h2 class="footer-heading">À Propos de Yeleman ci</h2>
            <ul class="list-unstyled">
              <li><a href="#" class="d-block">Notre histoire</a></li>
              <li><a href="#" class="d-block">Notre équipe</a></li>
            </ul>
          </div>
          <div class="col-md-4 mb-md-0 mb-4">
            <h2 class="footer-heading">Société</h2>
            <ul class="list-unstyled">
              <li><a href="#" class="d-block">Nos services</a></li>
              <li><a href="#" class="d-block">Nos Tarifs</a></li>
              <li><a href="#" class="d-block">Contact</a></li>
            </ul>
          </div>
          <div class="col-md-4 mb-md-0 mb-4">
            <h2 class="footer-heading">Résources</h2>
            <ul class="list-unstyled">
              <li><a href="#" class="d-block">Mentions légales</a></li>
              <li><a href="#" class="d-block">Politique de confidentialité</a></li>
              <li><a href="#" class="d-block">Blog</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  <!-- </div> -->
</footer>
<!-- <footer class="footer-10 pt-4"> -->
  <!-- <div class="container-fluid">
    <div class="row mt-5 pt-4 border-top">
      <div class="col-md-6 col-lg-8 mb-md-0 mb-4 text-center">
        <p class="copyright text-dark">
          Copyright &copy;{{ currentYear }} YELEMAN CI Tous droits réservés <i class="fa fa-heart text-danger"></i>.
        </p>
      </div>
      <div class="col-md-6 col-lg-4 text-md-center">
        <ul class="ftco-footer-social p-0">
          <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><span class="fab fa-twitter"></span></a></li>
          <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><span class="fab fa-facebook"></span></a></li>
          <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Instagram"><span class="fab fa-instagram"></span></a></li>
        </ul>
      </div>
    </div>
  </div> -->
<!-- </footer> -->
